{% extends "taslak.html" %}
{% block baslik %} ÜRÜNLER {% endblock %}

{% block icerik %}
   <table class="urunler">
        <thead>
            <tr>
                <th>id</th>
                <th>urun kodu</th>
                <th>isim</th>
                <th>fiyat</th>
                <th>işlem</th>
            </tr>

        </thead>
    
        <tbody>
            <tr><td colspan="5"><a href="/urunler/ekle" class="ekle">Ekle</a></td></tr>
            {% for urun in urunler %}
            <tr>
                <th>{{ urun[0] }}</th>
                <th>{{ urun[1] }}</th>
                <th>{{ urun[2] }}</th>
                <th>{{ urun[3] }}</th>
                <th><a href="/urunler/guncelle/{{urun[0]}}" class="guncelle">Güncelle</a><a href="/urunler/sil/{{urun[0]}}" class="sil">sil</a></th>

            </tr>
            {% endfor %}
        </tbody>



   </table>
{% endblock %}